
<h1><bold>Country:</bold>{{name.official}}</h1>
<p><bold>Capital:</bold>{{capital}}</p>
<p><bold>Population:</bold>{{population}}</p>
<img src="{{flags.svg}}" alt="{{name.common}}">
<p><bold>Languages:</bold>{{languages}}</p>
