
<h1><solid>Country:</solid>{{name.official}}</h1>
<p><b>Capital:</bold>{{capital}}</p>
<p><b>Population:</b>{{population}}</p>
<img src="{{flags.svg}}" alt="{{name.common}}">
<p><b>Languages:</b>{{languages}}</p>

